* {
    margin: 0;
    padding: 0;
}

body {
    font-family: fantasy;
}

.topper {
    background-color: yellow;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 30%;
    box-shadow: 0px -10px 90px 0px rgba(0, 0, 0, 8) inset
}
.topperimg {
    width: 300px;
}
.toppericons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 600px;
    margin-top: 250px;
    list-style: none;
}